/* Landing Page Gallery Preview */

#gallery {
    margin-bottom: 10%;
}

#gallery #tag {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 10%;
    margin-bottom: -3%;
}

.gallery-wrapper {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    gap: 15px;
    /* padding: 5%; */
}
.galllery-content {
    height: 600px;
    width: 39%;
    border-radius: 16px;
}

.gallery-sub_content {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 39%;
    gap: 20px;
}

.gallery-content_meta {
    height: 290px;
    border-radius: 16px;
}


 /* Gallery Preview 1 */
.card {
    --white: hsl(0, 0%, 83%);
    --black: hsl(240, 15%, 9%);
    --stone-300: hsl(24, 6%, 83%);
    --green: #08A045;
  
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 100%;
  }

  .card_container {
    overflow: hidden;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 600px;
    background-image: url('../images/img18.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, background-image 0.3s ease;
  }
  
  .card_container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(8, 160, 69, 0); 
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  
  .card:hover .card_container::after {
    background-color: rgba(8, 160, 69, 0.5);
  }
  
  .card_container::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0rem;
    aspect-ratio: 1;
    background-color: hsl(240, 15%, 9%, 0.2);
    border-radius: 50%;
    transform-origin: center;
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0.2s;
  }
  
  .card:hover .card_container::before {
    width: 22.5rem;
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
  }
  
  /* Gallery Preview 2 */
  .card1 {
    --white: hsl(0, 0%, 83%);
    --black: hsl(240, 15%, 9%);
    --stone-300: hsl(24, 6%, 83%);
    --green: #08A045;
  
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .card_container1 {
    overflow: hidden;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 600px;
    background-image: url('../images/img19.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, background-image 0.3s ease;
  }
  
  .card_container1::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(8, 160, 69, 0); 
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  
  .card1:hover .card_container1::after {
    background-color: rgba(8, 160, 69, 0.5);
  }
  
  .card_container1::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0rem;
    aspect-ratio: 1;
    background-color: hsl(240, 15%, 9%, 0.2);
    border-radius: 50%;
    transform-origin: center;
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0.2s;
  }
  
  .card1:hover .card_container1::before {
    width: 22.5rem;
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
  }

  .card1:hover .see-more {
    padding: 1rem;
    width: 5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    pointer-events: auto;
  }
  
  .card_container1 .image {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  /* Gallery Preview 3 */
  .card2 {
    --white: hsl(0, 0%, 83%);
    --black: hsl(240, 15%, 9%);
    --stone-300: hsl(24, 6%, 83%);
    --green: #08A045;
  
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .card_container2 {
    overflow: hidden;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 600px;
    background-image: url('../images/img20.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
    transition: background-color 0.3s ease, background-image 0.3s ease;
  }
  
  .card_container2::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(8, 160, 69, 0); 
    transition: background-color 0.3s ease;
    z-index: 1;
  }
  
  .card2:hover .card_container2::after {
    background-color: rgba(8, 160, 69, 0.5);
  }
  
  .card_container2::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0rem;
    aspect-ratio: 1;
    background-color: hsl(240, 15%, 9%, 0.2);
    border-radius: 50%;
    transform-origin: center;
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0.2s;
  }
  
  .card2:hover .card_container2::before {
    width: 22.5rem;
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
  }

  .card2:hover .see-more {
    padding: 1rem;
    width: 5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    pointer-events: auto;
  }
  
  .card_container2 .image {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  /* See More Button */
  .see-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    box-sizing: border-box;
    width: 0rem;
    aspect-ratio: 1;
    background-color: hsl(240, 15%, 9%, 0.5);
    font-size: 0rem;
    font-weight: normal;
    color: var(--white);
    text-align: center;
    border-radius: 50%;
    transform-origin: center;
    text-decoration: none;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(233, 233, 233, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out 0.4s;
    pointer-events: none;
    text-transform: uppercase;
  }
  
  .card:hover .see-more {
    padding: 1rem;
    width: 5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    pointer-events: auto;
  }
  
  .card_container .image {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  

/* Gallery Page */