/* Menu Section */

/* Coffee */
.coffee {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

#menu {
    background-color: rgba(233, 233, 233, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px 15px 0 0;
    padding: 5% 15% 5% 15%;
}

#menu #tag {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #08A045;
}

.coffee .holder1{
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.coffee .holder2 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}


.coffee .holder3 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}
.coffee .holder4 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 88px;
    display: none;
}
.coffee p {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-left: 50px;
    display: none;
}

.americano,
.cappuccino,
.latte,
.espresso {
    height: 400px;
    padding: 20px;
}

.americano {
    background-image: url('../images/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.cappuccino {
    background-image: url('../images/img4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.espresso {
    background-image: url('../images/img8.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.latte {
    background-image: url('../images/img7.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.coffee > div:hover h1{
    display: block;
}

.coffee > div:hover p{
    display: block;
}

.coffee > div:hover {
    background: rgba(233, 233, 233, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(233, 233, 233, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* Drinks */

.drinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.choco,
.lemon,
.matcha,
.strawberry {
    height: 400px;
    padding: 20px;
}

.choco {
    background-image: url('../images/img9.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.lemon {
    background-image: url('../images/img6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.matcha {
    background-image: url('../images/img5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.strawberry {
    background-image: url('../images/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.drinks .holder1 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.drinks  .holder2 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.drinks .holder3 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.drinks .holder4 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}
.drinks p {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-left: 50px;
    display: none;
}

.drinks > div:hover h1{
    display: block;
}

.drinks > div:hover p{
    display: block;
}

.drinks > div:hover {
    background: rgba(233, 233, 233, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(233, 233, 233, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* Sandwiches */

.sandwich{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.club, 
.chicken,
.ham,
.cheese {
    height: 400px;
    padding: 20px;
}

.club {
    background-image: url('../images/img10.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.chicken{
    background-image: url('../images/img11.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.ham {
    background-image: url('../images/img12.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.cheese{background-image: url('../images/img13.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.sandwich .holder1 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.sandwich .holder2 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.sandwich .holder3 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.sandwich .holder4 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.sandwich p {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-left: 50px;
    display: none;
}

.sandwich > div:hover h1{
    display: block;
}

.sandwich > div:hover p{
    display: block;
}

.sandwich > div:hover {
    background: rgba(233, 233, 233, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(233, 233, 233, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* Snacks */

.snack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.cheesecake, 
.mini,
.cookie,
.velvet {
    height: 400px;
    padding: 20px;
}

.cheesecake {
    background-image: url('../images/img14.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.mini {
    background-image: url('../images/img15.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.cookie {
    background-image: url('../images/img16.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.velvet {
    background-image: url('../images/img17.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.snack .holder1 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.snack .holder2 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.snack .holder3 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.snack .holder4 {
    justify-content: center;
    font-size: 40px;
    color: #08A045;
    margin-top: 35%;
    margin-left: 60px;
    display: none;
}

.snack p {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-left: 50px;
    display: none;
}

.snack > div:hover h1{
    display: block;
}

.snack > div:hover p{
    display: block;
}

.snack > div:hover {
    background: rgba(233, 233, 233, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(233, 233, 233, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

/* See More Button */
.btnHolder{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn {
    font-size: 18px;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    position: relative;
    background-color: transparent;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0.6;
  }
  
  .btn::after {
    content: '';
    border-bottom: 3px double rgb(8, 160, 69);
    width: 0;
    height: 100%;
    position: absolute;
    margin-top: -5px;
    top: 0;
    left: 5px;
    visibility: hidden;
    opacity: 1;
    transition: .2s linear;
  }
  
  .btn .icon {
    transform: translateX(0%);
    transition: .2s linear;
    animation: attention 1.2s linear infinite;
  }
  
  .btn:hover::after {
    visibility: visible;
    opacity: 0.7;
    width: 90%;
  }
  
  .btn:hover {
    color: #08A045;
    letter-spacing: 2px;
    opacity: 1;
  }
  
  .btn:hover > .icon {
    transform: translateX(30%);
    animation: none;
    color: #08A045;
  }
  
  @keyframes attention {
    0% {
      transform: translateX(0%);
    }
  
    50% {
      transform: translateX(30%);
    }
  }
  